<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
      <strong>RocketQA</strong> by <%= link_to '@yhoshino11', 'https://twitter.com/yhoshino11', target: '_blank' %>  and <%= link_to '@cruor99', 'https://twitter.com/cruor99', target: '_blank' %>
      </p>
    </div>
  </div>
</footer>
