<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">

        <div class="column is-4 is-left">
          <h1 class="title">Subscribe Now</h1>
          <h2 class="subtitle">Private Beta is coming soon.</h2>
        </div>

        <div class="column">
          <form id="subscribe">

            <div class="control is-grouped">

              <!-- Email -->
              <div class="control has-icon is-expanded">
                <input type="email" value="" name="preorder[email]" class="input is-flat required email" id="mce-EMAIL" placeholder="email address" required="" aria-required="true">
                <i class="fa fa-envelope"></i>
              </div>

              <!-- Submit -->
              <div class="control">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button is-white is-outlined">
              </div>

            </div>

            <div id="notification">

              <!-- Success -->
              <div id="subscribe-success" class="notification is-primary" style="display:none">
                <p id="success-text"></p>
              </div>

              <!-- Error -->
              <div id="subscribe-error" class="notification is-danger" style="display:none">
                <p id="error-text"></p>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
