<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-mobile">
        <div class="column is-4 is-offset-4">
          <div class="box">

            <!-- Main -->
            <h1 class="title">Sign in to your team domain</h1>

            <form id="signin">
              <div class="control is-horizontal">
                <div class="control is-grouped">
                  <p class="control is-expanded has-icon">
                    <input class="input is-medium" type="text" placeholder="team domain" name="teamdomain" />
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <span class="help is-danger" style="display:none;">This team domain is invalid</span>
                  </p>
                </div>
                <div class="control-label" style="padding-left:8px;">
                  <label class="label">.rocketqa.com</label>
                </div>
              </div>

              <p class="control">
                <button id="signin-btn" class="button is-info is-medium">Continue<i class="fa fa-arrow-right" aria-hidden="true" style="padding-left:8px;"></i></button>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
